<div class="main-tasks-new">
    <div class="container">
        <h1 class="form-heading">新規作成</h1>
          <div class="form">
            <div class="form-body">
              <textarea></textarea>
              <input type="submit" value="作成">
            </div>
          </div>
    </div>
</div>